# fly.toml app configuration file generated for language-enforcer-auth on 2026-02-14T19:53:48+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'language-enforcer-auth'
primary_region = 'ams'

[build]

[env]
PORT = "8787"
BIND_ADDR = "0.0.0.0:8787"

[http_service]
internal_port = 8787
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 1
